/* Hero Styling */
.hero-image {
  background-color: var(--color-gray-100);
}

.hero-caption {
  color: var(--color-gray-800B);
}

.hero-caption:hover {
  color: var(--color-gray-600);
}

.hero-passage {
  width: 35rem;
  margin: auto;
  line-height: 2rem;
}

.hero-passage p {
  font-size: 1rem;
  margin: 2rem 0 0 0;
}

.card-sample {
  height: 12rem;
  background-color: white;
  padding: 2rem;
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.5rem;
}

/* Page Specific Settings */
#writing .hero-content {
  width: 15rem;
}

#creative-writing .hero-content {
  width: 25rem;
}

#creative-writing .hero-passage {
  font-size: 2rem;
}

#persuasive-writing .hero-content {
  width: 28rem;
}

#technical-writing .hero-content {
  width: 28rem;
}

@media (max-height: 35rem) {
  .hero-passage p {
    font-size: calc(6.25vh - 1.1875rem);
    line-height: calc(12.5vh - 2.375rem);
  }
}
