/* Hero Styling */
#engineering .hero-image {
  background-image: url(/subjects/engineering/images/hero.png);
}

#engineering .hero-content {
  width: 20rem;
}

#engineering .hero-caption {
  color: var(--color-gray-100);
}

#engineering .hero-caption:hover {
  color: var(--color-gray-200);
}

/* Custom Styles */
#light-monkey,
#tripod-mount {
  grid-template-columns: 1.05fr .95fr;
  grid-auto-rows: revert;
}

#light-monkey li:nth-of-type(1),
#tripod-mount li:nth-of-type(1) {
  grid-row: 1 / span 2;
}

#smart-watch,
#sculpting-modeling {
  grid-auto-rows: revert;
}

#smart-watch li:nth-of-type(3){
  grid-column: 1 / span 2;
}

#machinists-hammer,
#multi-tool-handle {
  grid-template-columns: 1fr;
  grid-auto-rows: revert;
}