/* Hero Styling */
#personal .hero-image {
  background-image: url(/subjects/personal/images/hero.jpg);
}

#personal .hero-content {
  width: 22rem;
}

#personal .hero-caption {
  color: var(--color-gray-100);
}

#personal .hero-caption:hover {
  color: var(--color-gray-200);
}

/* Custom Styling */
#bicycle-trailer-2 .entry-gallery,
#bed-futon .entry-gallery,
#apartment-shelves .entry-gallery,
#hobby-lathe-7 .entry-gallery,
#stargate .entry-gallery,
#fred-1 .entry-gallery {
  grid-auto-rows: revert;
}

#bicycle-trailer-2 li:nth-of-type(3),
#stargate li:nth-of-type(5) {
  grid-column: 1 / span 2;
}

#hobby-lathe-1 .entry-gallery,
#hobby-lathe-3 .entry-gallery {
  grid-template-columns: 1fr;
}

#hobby-lathe-4 .entry-gallery,
#hobby-lathe-5 .entry-gallery,
#hobby-lathe-6 .entry-gallery,
#mt-chest-3 .entry-gallery,
#mt-chest-4 .entry-gallery,
#mt-chest-6 .entry-gallery,
#mt-chest-7 .entry-gallery,
#green-screen-frame .entry-gallery,
#wall-tunnel-1 .entry-gallery {
  grid-template-columns: 1fr;
  grid-auto-rows: revert;
}

#mt-chest-1 .entry-gallery,
#wall-tunnel-2 .entry-gallery {
  grid-auto-rows: revert;
  grid-template-columns: 0.8fr 1.2fr;
}

#mt-chest-5 .entry-gallery,
#miniature-crossbow .entry-gallery,
#budget-zamboni .entry-gallery {
  grid-auto-rows: revert;
  grid-template-columns: 1.1fr 0.9fr;
}

#mt-chest-5 li:nth-of-type(1) {
  grid-column: 1 / span 2;
}

#calipers-boxes .entry-gallery,
#tea-box .entry-gallery {
  grid-auto-rows: revert;
  grid-template-columns: 0.9fr 1.1fr;
}

#calipers-boxes li:nth-of-type(1),
#tea-box li:nth-of-type(1),
#budget-zamboni li:nth-of-type(1),
#wall-tunnel-2 li:nth-of-type(1) {
  grid-row: 1 / span 2;
}
