/* Hero Styling */
#art .hero-image {
  background-image: url(/subjects/art/images/hero.jpg);
}

#art .hero-content {
  width: 10rem;
}

#art .hero-caption {
  color: var(--color-gray-100);
}

#art .hero-caption:hover {
  color: var(--color-gray-200);
}

/* Custom Styles */
#everyday-objects .entry-gallery,
#face-study .entry-gallery {
  grid-auto-rows: revert;
}

#face-study li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

#gear-drawings .entry-gallery {
  grid-auto-rows: revert;
  grid-template-columns: 1.1fr 0.9fr;
}

#dd-character .entry-gallery,
#kitchen-items .entry-gallery {
  grid-auto-rows: revert;
  grid-template-columns: 1fr;
}

#pixel-characters .entry-gallery {
  grid-auto-rows: revert;
  grid-template-columns: 1fr 1fr 1fr;
}
